.page {
  position: absolute;
  border-radius: 4px;
  background-color: #595959;
  color: #f5f5f5;
  display: none;
  width: 98px;
  overflow: hidden;
  box-shadow: 0px -1px 16px 0px rgba(0, 0, 0, 0.4);
  align-items: center;
}

.page ul {
  padding: 0;
  list-style: none;
}

.page ul li {
  width: 78px;
  padding: 10px;
  cursor: pointer;
}

.page ul li:hover {
  background-color: #333333;
  color: #fafafa;
}
