.page {
  background-color: #fafafa;
}

.page>div:nth-of-type(1) {
  position: relative;
  z-index: 2;
}

.box {
  display: flex;
  align-items: center;
  height: 100vh;
}

.content {
  flex-grow: 1;
  padding: 10px;
  margin: 10px;
  height: calc(100% - 60px);
  overflow: auto;
}